@font-face {
  font-family: "iconfont"; /* Project id 3512505 */
  src: url('./iconfont.woff2?t=1657460455797') format('woff2'),
       url('./iconfont.woff?t=1657460455797') format('woff'),
       url('./iconfont.ttf?t=1657460455797') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 35px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai-up-img:before {
  content: "\e672";
}

